name: Test FIRE7 on FIRE6 Examples

on:
  workflow_dispatch:

jobs:
  test-fire7-on-fire6-examples:
    runs-on: self-hosted
    timeout-minutes: 7200 # for 5 days

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up FIRE7 container
      run: docker pull asmirnov80/fire:latest

    - name: Test FIRE7 on FIRE6 examples
      run: docker run --rm -v ${{ github.workspace }}/externals:/data asmirnov80/fire:latest bash -c "cd /data/FIRE6-examples && chmod +x run_FIRE7.sh && ./run_FIRE7.sh && chmod -x run_FIRE7.sh"

    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
          name: fire7-test-results
          path: externals/FIRE6-examples/
